{
  "presets": ["@babel/preset-env"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@router": "./src/js/router.js",
          "@navigate": "./src/js/navigate.js",
          "@views": "./src/js/views",
          "@api": "./src/js/api",
          "@abstract": "./src/js/views/AbstractView.js"
        }
      }
    ]
  ]
}
