# Node.js 관련 파일
node_modules/
npm-debug.log

# 운영 체제 관련 파일
.DS_Store
Thumbs.db

# 환경 설정 파일
.env

# 빌드 출력물
dist/
build/

# IDE 관련 파일
.vscode/
.idea/

# Jest 테스트 커버리지 폴더
coverage/

# 특정 파일 무시
*.log
*.tmp

# label.js 파일 추가
label.js